<div class="row">
    <div style="margin:auto;" class="col-sm-12 col-md-6">
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <form #authForm="ngForm" (ngSubmit) ="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email"
                ngModel name="email"
                required
                email
                id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                ngModel name="password"
                required
                minlength="6"
                id="password" class="form-control">
            </div>
            <div class="mb-3">
                <button [disabled] = "!authForm.valid" type="submit" class="btn btn-primary">{{ loginMode ? "LOGIN" : "SIGN UP"}}</button>
            </div>
            <div>
                <button type="button" (click)="onSwitchMode()" class="btn btn-primary">{{ loginMode ? "SWITCH TO SIGN UP" : "SWITCH TO LOGIN"}}</button>
            </div>
        </form>
    </div>
</div>